<%= turbo_frame_tag task do %>
  <div class="<%= task.task_css_class %>">
    <%= button_to project_task_path(task.project, task, task: { completed: !task.completed }),
                  method: :patch,
                  class: "task__checkbox" do %>
      &#10004;
    <% end %>

    <%= link_to task.content,
                project_task_path(task.project, task),
                class: "task__content" %>

    <% if task.target_date %>
      <span class="<%= task.target_date_css_class %>">
        <%= bootstrap_icon "calendar-event", height: 11 %>
        <%= date_picker_description(task.target_date) %>
      </span>
    <% end %>

    <%= link_to 'edit',
                edit_project_task_path(task.project,task, selected_date: str_date(task.target_date)),
                class: 'edit' %>

    <%= button_to 'delete',
                  [task.project, task],
                  form: { data: { turbo_confirm: "Are you sure?" } },
                  method: :delete %>
  </div>
<% end %>
