<%= turbo_frame_tag task do %>
  <div class="<%= task.task_css_class %>">
    <span class="task__checkbox">
      &#10004;
    </span>

    <%= link_to task.content, project_task_path(@project, task), class: "task__content" %>

    <% if task.target_date %>
      <span class="<%= task.target_date_css_class %>">
        <%= task.target_date.strftime("%-d %b") %>
      </span>
    <% end %>

    <%= link_to 'edit', edit_project_task_path(@project, task), class: 'edit' %>
    <%= button_to 'delete',
                  [@project, task],
                  form: { data: { turbo_confirm: "Are you sure?" } },
                  method: :delete %>
  </div>
<% end %>
