<h1 style="color: <%= colors[@project.color][:value] %>">
  <%= @project.name %>
</h1>

<%= turbo_frame_tag "tasks" do %>
  <%#= render "quotes/empty_state" %>
  <%= render @project.tasks %>
<% end %>
</div>

<br>
<%= link_to 'Add task', new_project_task_path(@project), data: { turbo_frame: dom_id(Task.new) } %>
<%= turbo_frame_tag Task.new %>
