<h1>
  <%= @project.name %>
</h1>

<%= turbo_frame_tag "tasks" do %>
  <%#= render "quotes/empty_state" %>
  <%= render @project.tasks %>
<% end %>
</div>

<br>

<%= turbo_frame_tag Task.new do %>
  <%= link_to 'Add task', new_project_task_path(@project), data: { turbo_frame: dom_id(Task.new) } %>
<% end %>
