<%= turbo_frame_tag 'date-picker' do %>
  <div class="date-picker">
    <button type="button"
            class="picker-btn"
            data-target="date-picker-body"
            data-controller="task"
            data-action="click->task#togglePickerBody">
      <%= bootstrap_icon "calendar-event", height: 11 %>
      <%= target_date_description selected_date %>
    </button>

    <div id="date-picker-body" class="date-picker__body <%= 'show' if params[:month_index] %>">
      <ul>
        <%= date_picker_suggestion_for('Today', today) do %>
          <%= bootstrap_icon "calendar", height: 15, color: "black" %>
        <% end %>
        <%= date_picker_suggestion_for('Tomorrow', Date.tomorrow) do %>
          <%= bootstrap_icon "sun-fill", height: 17, color: "orange" %>
        <% end %>
        <% if Date.current.wday < 5 %>
          <%= date_picker_suggestion_for('This weekend', today.end_of_week - 1.day) do %>
            <%= bootstrap_icon "house-fill", height: 16, color: "blue" %>
          <% end %>
        <% end %>
        <%= date_picker_suggestion_for('Next week', today.next_week) do %>
          <%= bootstrap_icon "skip-forward-fill", height: 15, color: "green" %>
        <% end %>
        <%= date_picker_suggestion_for('No date', nil) do %>
          <%= bootstrap_icon "slash-circle", height: 16, color: "grey" %>
        <% end %>
      </ul>
      <%= render 'calendar' %>
    </div>
  </div>
<% end %>
