<% if selected_date != (date ? date.to_s : date) %>
  <li>
    <%= link_to task_form_path(selected_date: date),
                data: {controller: 'task', action: 'click->task#selectDate', date: date.to_s},
                class: "suggestion" do %>
      <%= capture(&block) %>
      <%= name %>
      <span class="weekday">
        <%= date.strftime('%a') if date && date != Date.today.next_week %>
        <%= date.strftime('%a %-d %b') if date == Date.today.next_week %>
      </span>
    <% end %>
  </li>
<% end %>
