<li class="menu__list-item">
  <%= active_link_to path, data: { turbo_frame: "_top" }, class: "link" do %>
    <%= capture(&block) %>
    <%= name %>
  <% end %>

  <% if project_id && project_id != inbox_id %>
    <div class="options">
      <%= link_to edit_project_path(project_id), class: "project-btn", data: { turbo_frame: "_top" } do %>
        <%= bootstrap_icon "pen", height: 15, width: 15, class: "edit-icon" %>
      <% end %>

      <%= button_to project_path(project_id),
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    method: :delete,
                    class: "project-btn" do %>
        <%= bootstrap_icon "trash3", height: 15, width: 15 %>
      <% end %>
    </div>
  <% end %>

  <span class="quantity">
    <%= turbo_frame_tag "#{path}-size" do %>
      <%= quantity if quantity > 0 %>
    </span>
  <% end %>
</li>
