<nav class="appbar">
  <button class="btn btn--icon"
          data-controller="application"
          data-action="click->application#toggleMenu">
    <%= bootstrap_icon "justify", height: 23 %>
  </button>
  <%= link_to root_path, class:"btn btn--icon" do %>
    <%= bootstrap_icon "house-door", height: 19 %>
  <% end %>
  <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class:"btn btn--icon" do %>
    <%= bootstrap_icon "door-closed", height: 19 %>
  <% end %>
</nav>
