<%#= turbo_stream_from current_user.projects, "projects" %>

<div id="menu" class="menu open">
  <nav>
    <ul class="menu__list">
      <%= turbo_frame_tag "today-tasks-size" do %>
        <%= menu_list_item_for('Today', today_path, today_tasks_size) do |t| %>
          <span class="day-number">
            <%= Time.now.day %>
          </span>
          <%= bootstrap_icon "calendar",
                            class: "today-icon",
                            height: 16,
                            color: "#058527" %>
        <% end %>
      <% end %>
      <%= turbo_frame_tag "projects" do %>
        <%= render current_user.projects.select(&:created_at) %>
      <% end %>
    </ul>

    <br>
    <%= link_to "+ Add new project", new_project_path, class: "btn" %>
  </nav>
</div>
