<li class="menu__list-item" style="<%= 'order: -1' if name == 'Inbox' %>">
  <%= capture(&block) %>

  <%= active_link_to name, path, data: { turbo_frame: "_top" } %>

  <span class="quantity">
    <%= turbo_frame_tag "#{path}-size" do %>
      <%= quantity if quantity > 0 %>
    </span>
  <% end %>
</li>
